p, ul {
    margin: 14px 0;
    line-height: 2.2;
}

h1, h2, h3, h4, h5, strong {
    color: black !important;
    line-height: 2 !important;
}

.title {
    font-weight: bold;
    font-size: 18px;
    line-height: 1.3;
    color: black;
}

.subtitle {
    color: grey;
    font-size: 16px;
}

.description {
    color: grey;
    font-size: 14px;
}

.body {
    color: #555555;
    word-break: keep-all;
    word-wrap: normal;
}

.appContainer {
    width: 100%;
    padding: 48px 13%;
    background-color: white;
}

.navContainer {
    width: 100%;
    padding: 12px 13%;
    background-color: black;
    color: white;
    display: inline-block;
    font-size: 16px;
}

.sidebar {
    width: 100%;
    background-color: white;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contentNav {
    margin-bottom: 24px;
}

.contentNavItem {
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.contentNavItem .title {
    font-size: 16px;
    font-weight: bold;
    padding: 4px 4px;
}

.contentNavItem .description {
    font-size: 14px;
    padding: 4px 4px;
}

.contentNavChildren {
    padding-left: 12px;
}

.contentNavItem:hover {
    text-decoration: underline;
    color: black;
}

.sidebar .authentication {
    text-align: center;
    margin: 24px 0;
}

.postList {
    max-width: 800px;
    margin: 0 auto;
}

.postListItem {
    padding: 28px 12px;
    border-bottom: solid 1px rgba(0,0,0,.125);
}

.postList .title {
    margin-bottom: 8px;
}

.postList .description {
    margin-bottom: 8px;
}

.postList .body {
    height: 75px;
    overflow: hidden;
    color: #555555;
}

.authForm {
    max-width: 300px;
    margin: 96px auto;
}

.authFormHeader {
    font-size: 28px;
    text-align: center;
    margin-bottom: 32px;
}

.authFormInput {
    font-size: 16px;
    border: solid 1px grey;
    border-radius: 100px;
    width: 100%;
    height: 36px;
    margin: 12px 0;
    text-align: center;
}

.authFormSubmit {
    width: 60%;
    margin: 24px auto;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
}

.post {
    max-width: 812px;
    margin: 24px auto;
}

.post .title {
    width: 100%;
    border: 0px;
    border-bottom: 1px solid black;
    font-size: 24px;
    padding: 8px 0;
    margin: 4px 0;
}

.post .body {
    width: 100%;
    margin: 28px 0;
    font-size: 16px;
    line-height: 2.5;
    overflow-x: auto;
}

.categorySelector {
    margin: 12px 0;
}

.categorySelectorSelect {
    border: 0px;
    font-size: 14px;
    color: grey;

    -webkit-appearance: none;  /* 네이티브 외형 감추기 */
    -moz-appearance: none;
    appearance: none;
    background: none;  /* 화살표 모양의 이미지 */
    display: inline-block;
}

.categorySelectorSelect::-ms-expand {
    background-color: white;
    border: 0px;
    width: auto;
}

.categorySelectorSelect:focus {
    outline: none !important;
    box-shadow: none;
}

.floatButton {
    position: fixed;
    flex-direction: row;
    display: flex;
    bottom: 30px;
    right: 30px;
    margin: 6px;
}

.touchable {
    color: black;
    background-color: transparent;
    border: 0px;
}

.touchable:hover {
    opacity: 0.6;
    text-decoration: underline;
    color: inherit;
}

.comment {
    margin-top: 96px;
}

.commentRow {
    margin: 12px 0px 12px 0px;
    padding-bottom: 8px;
    border-bottom: 1px solid lightgrey;
}

.commentRowNickname {
    color: black;
    font-size: 12px;
    margin-bottom: 8px;
}

.commentRowText {
    color: black;
    font-size: 14px;
}

.commentForm {
    margin: 18px 0;
}

.commentFormHeader {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
}

.commentFormNickname {
    width: 100px;
    padding-left: 10px;
    font-size: 14px;
    border: 0px;
    border-bottom: 1px solid black;
}

.commentFormText {
    margin-top: 12px;
    padding: 4px 10px 4px 10px;
    border: 1px solid grey;
    font-size: 14px;
}

.toast {
    background-color: black;
    opacity: 0.7;
    padding: 8px 24px;
    border-radius: 100px;
    color: white;
    position: fixed;
    bottom: 30px;
    margin: 0 auto;
    width: fit-content;
    left: 0;
    right: 0;
}

@media (max-width: 1023px) {
    .appContainer {
        padding: 24px 18px;
    }

    .navContainer {
        padding: 12px 18px;
    }
}
